@model List<Book> 
<partial name="_Notification"/>
    <div class="container">
        <div class="row pt-4 pb-3"> 
            <div class="col-6">
                <h2 class="text-primary">
                    Books List
                </h2>
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Book" asp-action="Upsert" class="btn btn-primary">
                Create New Book
                </a>
            </div>
        </div>


<table class="table table-bordered table-striped">
    <thread>
        <tr>
            <th>Title</th>
            <th>Description </th>
            <th>AuthorId </th>
            <th>GenreID </th>
            <th>ISBN </th>
            <th>MSRP </th>
            <th>Year Published </th>
            <th>IMG </th>

        </tr>
    </thread>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td>@obj.Title</td>
                <td>@obj.Description</td>
                <td>@obj.AuthorId</td>
                <td>@obj.Genre.Name</td>
                <td>@obj.ISBN</td>
                <td>@obj.MSRP</td>
                <td>@obj.YearPublished</td>
                <td>@obj.ImgID</td>
                <td>
                    <div class="w-75" btn-group role="group">
                            <a asp-controller="Book" asp-action="Upsert" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
                                <i class="bi bi-pencil-square"></i> Edit
                        </a>
                            <a asp-controller="Book" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2">
                                <i class="bi bi-trash-fill"></i> Delete
                            </a>
                    </div>
                </td>
            </tr>


        }

    </tbody>
    


</table>

</div>